{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/task/indexstyle.css')}}">
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Les choses à faire</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Date création</th>
					<th>A finir avant</th>
					<th>Fait</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					<tr>
						<td>{{ task.id }}</td>
						<td>{{ task.title }}</td>
						<td>{{ task.description }}</td>
						<td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ task.dueTime ? task.dueTime|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ task.done ? task.done|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_task_show', {'id': task.id}) }}">Voir</a>
							<a href="{{ path('app_task_edit', {'id': task.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_task_new') }}">Créer une nouvelle tâche</a>
	</div>

{% endblock %}
